*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
    box-shadow: 1px 1px 3px gray;
    text-align: center;
    margin-bottom: 60px;
}
#heading1{
    font-family: 'Segoe UI', sans-serif;
    margin: 10px auto 10px auto;
}
#add{
    outline: none;
    
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    
    margin: 10px auto 10px auto;
    border: none;
    box-shadow: 2px 2px 3px rgba(124, 124, 124, 0.6), -2px -2px 5px rgba(124, 124, 124, 0.3);
    width: 100%;
    height: 40px;
    padding:1em;
    border-radius: 3px;
    transition: 250ms ease-in;
}
#add:focus{
    background-color: rgba(124, 124, 124, 0.1); 
}
section:nth-last-of-type(1){
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    width: 90%;
    height: 40vh;
}
#ilust{
    width:600px;
    height: 580px;
}

.root{
    border: none;
    border: 1px solid gray;
    padding:15px;
    min-width: 42%;
    border-radius:3px;
    position: relative;
    max-height: 55vh;
    min-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 90px auto 0 auto;
}
/* #todo{
    max-height: 400px;
    overflow-y: auto;
} */
.todo-div{
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin: 10px auto 0 auto;
    align-items: center;
    border: 1px solid gray;;
    padding: 10px;
    height: 50px;
    width: 100%;
}
.todo-text{
    margin-right: 450px;
}
.fa{
    margin-right:10px;
}
.done{
    opacity: .5;
    
}

@media only screen and (max-width: 1200px){
   #ilust{
        display: none;
    }
    .todo-text{
      margin-right: 300px;  
      margin-right: 400px;  
    }
}

@media only screen and (max-width:1024px){
    body{
        overflow-y: hidden;
    }
    #add{
        width: 80vw;
        margin: auto;
    }
    .root{
        min-height: 80vh;
        overflow-y: auto;
        border: none;
        margin: -50px 0 0 0;        
    }
    .todo-text{
      margin-right: 450px;  
    }
}
@media only screen and (max-width: 700px){
    .todo-text{
      margin-right: 370px;  
    }
}
@media only screen and (max-width: 500px){
    .todo-text{
      margin-right: 200px;  
    }
}
